:root {
	--background-primary: #1e1e1e;
	--background-secondary: #323232;

	--text-primary: #d0d0d0;
	--text-secondary: #939393;
	--text-tertiary: #424242;
	--text-quaternary: #2e2e2e;

	--link-unvisited: #59a9ff;
	--link-visited: #346296;
}
