:root {
	--background-primary: #1e1e1e;
	--background-secondary: #323232;
	--background-tertiary: #404040;

	--text-primary: #d0d0d0;
	--text-secondary: #a5a5a5;
	--text-tertiary: #535353;
	--text-quaternary: #3b3b3b;

	--link-unvisited: #59a9ff;
	--link-visited: #346296;

	--selection: #e3994580;
}

@font-face {
	font-family: 'Geist';
	font-display: swap;
	src:
		local('Geist'),
		url(/font/Geist.woff2) format('woff2');
}

@font-face {
	font-family: 'JetBrains Mono';
	font-display: swap;
	src:
		local('JetBrains Mono'),
		url(/font/JetBrainsMono.woff2) format('woff2');
}
