:root {
	--background-primary: #1e1e1e;
	--background-secondary: #323232;
	--background-tertiary: #404040;

	--text-primary: #d0d0d0;
	--text-secondary: #939393;
	--text-tertiary: #424242;
	--text-quaternary: #2e2e2e;

	--link-unvisited: #59a9ff;
	--link-visited: #346296;

	--selection: #e3994580;
}

@font-face {
	font-family: 'Geist';
	display: swap;
	src: url(/font/Geist.woff2) format('woff2');
}

@font-face {
	font-family: 'JetBrains Mono';
	display: swap;
	src: url(/font/JetBrainsMono.woff2) format('woff2');
}
