html {
	height: 100%;
}

body {
	height: 100%;
	max-width: 1500px;
	margin: 0px auto;

	color: var(--text-primary);
	background-color: var(--background-primary);
}
body,
button {
	font-family: 'Geist', sans-serif;
	line-height: 1.5;
}
*,
*::before,
*::after {
	box-sizing: border-box;

	&::selection {
		background-color: var(--selection);
	}
}

pre,
code {
	font-family: 'JetBrains Mono', monospace;
}
