html {
	height: 100%;
}

body {
	height: 100%;
	max-width: 1500px;
	margin: 0px auto;

	color: var(--text-primary);
	background-color: var(--background-primary);
}

body,
button {
	font-family: 'Geist', sans-serif;
	line-height: 1.5;
}

*,
*::before,
*::after {
	box-sizing: border-box;

	&::selection {
		background-color: var(--selection);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: var(--text-primary);
}

pre,
code {
	font-family: 'JetBrains Mono', monospace;
}

kbd {
	font-family: 'JetBrains Mono', monospace;

	border-radius: 0.4rem;
	padding: 0px 0.4rem;
	font-weight: 550;

	background-color: var(--text-quaternary);
}
